.DS_Store
**/.gradle/
**/build/
**/.cxx/
**/.externalNativeBuild/
android/probe/local.properties
native/android/vcpkg_installed/
/config-temp/
/config.log

**/__pycache__/

**/local.properties
native/android/vcpkg_installed/
/config-temp/
/config.log
**/__pycache__/
android/app/src/main/assets/www/
